###########################
# ignore folders
###########################
SHARED_DATA/
GPPKinectBlobSender/
ofxKinectBlobTrackerExample/
7_BlobsSoundLink_edit/
7_BlobsSoundLink_edit2/
SHARED_DATA_JOSE/
_jose/
7_BlobsSoundLink/bin/data/path_carpeta_audio.xml
guiParamaRecursiveNameTest/
test3-oscReceiveExample/

###########################
# ignore generated binaries
# but not the data folder
###########################
/bin/*
!/bin/data/
*/.vs/
#########
# general
#########

[Bb]uild/
[Oo]bj/
*.o
[Dd]ebug*/
[Rr]elease*/
*.mode*
*.app/
*.pyc
.svn/
*.log
*.exe
*.dll
*.exp
*.lib
*.iobj
*.ipdb

########################
# IDE files which should
# be ignored
########################

# XCode
*.pbxuser
*.perspective
*.perspectivev3
*.mode1v3
*.mode2v3
# XCode 4
*.xccheckout
xcuserdata/

# Visual Studio
*.sdf
*.opensdf
*.suo
*.pdb
*.ilk
*.aps
ipch/

# Eclipse
.metadata
local.properties
.externalToolBuilders

# Android Studio
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries

##################
# operating system
##################

# Linux
*~
# KDE
.directory
.AppleDouble

# OSX
.DS_Store
*.swp
*~.nib
# Thumbnails
._*

# Windows
# Image file caches
Thumbs.db
# Folder config file
Desktop.ini

# Android
.csettings
